
@keyframes appear {

  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}

:host {

  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;

  .under-construction-animation {

    opacity: 0;
    -webkit-animation: appear 2s 1 forwards cubic-bezier(0.66, 0, 0.11, 1.29) 2s; /* Safari 4+ */
    -moz-animation:    appear 2s 1 forwards cubic-bezier(0.66, 0, 0.11, 1.29) 2s; /* Fx 5+ */
    -o-animation:      appear 2s 1 forwards cubic-bezier(0.66, 0, 0.11, 1.29) 2s; /* Opera 12+ */
    animation:         appear 2s 1 forwards cubic-bezier(0.66, 0, 0.11, 1.29) 2s; /* IE 10+, Fx 29+ */

    lottie-animation-view {
      pointer-events: none;
    }


  }

}


