:host {

  .progress-animation {
    span {
      position: absolute;
      left: 50%;
      top: 50%;
      color: #fff;
      font-size: 32px;
      font-family: "Helvetica Neue", arial, sans-serif;
      margin-left: -20px;
      margin-top: -46px;
    }
  }

}


