/*styles for rotating dial only*/

@keyframes dialappearance {
  0% {
    transform: scale(0.01);
    position: absolute;
    /*width: 30px;
    height: 30px;*/
    left: 50%;
    top: 50%;
    margin-top: -600px;
    margin-left: -600px;
    opacity: 0;
  }

  20% {
    transform: scale(0.2);
    position: absolute;
    /*width: 30px;
    height: 30px;*/
    left: 50%;
    top: 50%;
    margin-top: -600px;
    margin-left: -600px;
    opacity: 1;
  }

  50% {
    transform: scale(0.5);
    position: absolute;
    /*width: 30px;
    height: 30px;*/
    left: 50%;
    top: 50%;
    margin-top: -600px;
    margin-left: -600px;
    opacity: 1;
  }

  100% {
    transform: scale(0.5);
    position: absolute;
    /*width: 30px;
    height: 30px;*/
    left: 00%;
    top: 50%;
    margin-top: -600px;
    margin-left: -650px;
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes mouse-wheel {

  0%, 100% {
    -webkit-transform: scaleY(.4) translateY(0);
    transform: scaleY(.4) translateY(0);
  }

  20% {
    -webkit-transform: scaleY(1) translateY(0);
    transform: scaleY(1) translateY(0);
  }
  60% {
    -webkit-transform: scaleY(.4) translateY(12px);
    transform: scaleY(.4) translateY(12px);
  }

}

:host {
  // transform: scale(0.5);
  renderer {
    width: 600px;
    height: 600px;
    overflow: hidden;
    /deep/ > div {
      width: 0px;
      height: 0px;
      canvas {
        transform: scale(0.01);
        position: absolute;
        /*width: 30px;
        height: 30px;*/
        left: 50%;
        top: 50%;
        margin-top: -15px;
        margin-left: -15px;
        opacity: 0;
        pointer-events: none;

        -webkit-animation: dialappearance 4s 1 forwards cubic-bezier(0.66, 0, 0.11, 1.29) 2s; /* Safari 4+ */
        -moz-animation:    dialappearance 4s 1 forwards cubic-bezier(0.66, 0, 0.11, 1.29) 2s; /* Fx 5+ */
        -o-animation:      dialappearance 4s 1 forwards cubic-bezier(0.66, 0, 0.11, 1.29) 2s; /* Opera 12+ */
        animation:         dialappearance 4s 1 forwards cubic-bezier(0.66, 0, 0.11, 1.29) 2s; /* IE 10+, Fx 29+ */
      }

      .controls {
        position: absolute;
        color: #fff;
        bottom: 0px;
        padding: 10px;
      }

      .mouse {
        position: absolute;
        box-sizing: border-box;
        left: 26px;
        top: 50%;
        width: 30px;
        margin-left: -15px;
        height: 48px;
        border-radius: 15px;
        border: 2px solid #000;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        margin-top: -24px;

        .mouse__wheel {
          position: absolute;
          left: 50%;
          top: 8px;
          margin-left: -2px;
          width: 4px;
          height: 9px;
          background: #000;
          border-radius: 2px;
          -webkit-animation: mouse-wheel 1.25s infinite linear;
          animation: mouse-wheel 1.25s infinite linear;
          -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
        }
      }
    }
  }

}


