<div class="main-app">

  <!--<nav>
    <a [routerLink]=" ['./'] "
       routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
      Index
    </a>
    <a [routerLink]=" ['./home'] "
       routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
      Home
    </a>
    <a [routerLink]=" ['./detail'] "
       routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
      Detail
    </a>
    <a [routerLink]=" ['./barrel'] "
       routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
      Barrel
    </a>
    <a [routerLink]=" ['./about'] "
       routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
      About
    </a>
    <a *ngIf="showDevModule" [routerLink]=" ['./dev-module'] "
       routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
      DevModule
    </a>
  </nav>-->


  <!--<dial-animation (animComplete)="dialAnimationComplete($event)" (dialSpeed)="receiveDialSpeed($event)"></dial-animation>-->

  <logo-animation *ngIf="!logoIntroComplete" (animComplete)="logoAnimationComplete($event)"></logo-animation>
  <dial-animation *ngIf="logoIntroComplete" (animComplete)="dialAnimationComplete($event)" (dialSpeed)="receiveDialSpeed($event)"></dial-animation>

  <!--<rotating-dial *ngIf="logoIntroComplete"></rotating-dial>-->

  <main>
    <router-outlet></router-outlet>
  </main>

  <!--<pre class="app-state">this.appState.state = {{ appState.state | json }}</pre>-->

</div>
