<div>
    <canvas #triangleBg id="triangleBg"></canvas>
    <svg #triangle xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
        <polyline id="Triangle" points="0 50 25 0 50 50"/>
    </svg>

    <svg #logoTriangle xmlns="http://www.w3.org/2000/svg" width="1196.67" height="1242.53" viewBox="0 0 1196.67 1242.53">
        <path d="M121.6,1167l500-1000s507,1004,500,1000S121.6,1167,121.6,1167Z" style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:150px"/>
    </svg>


</div>
