<div>
  <dial-animation *ngIf="showDial" (dialSpeed)="receiveDialSpeed($event)" (pauseApp)="pauseStory($event)"></dial-animation>
  <asset-loader [fileList]="filesToLoad" (loadingComplete)="allAssetsLoaded($event)"></asset-loader>
  <environment
          [app]="app"
          [sharedTicker]="ticker"
          [assets]="globalAssets"
          [speed]="globalSpeed"
          (envReady)="envReady()"
          (currentDate)="setGlobalDate($event)"
  ></environment>
  <!-- Canvas for the PIXI Application -->
  <canvas #pixiBackground id="pixiBackground"></canvas>
  <div class="bottom-menu">
    <span class="back" (click)="backToMainMenu()"> <small><</small> </span>
    <span class="story-wip">
      the story <small>- work in progress</small>
    </span>
  </div>
</div>
