<div>
  <dial-animation *ngIf="showDial" (dialSpeed)="receiveDialSpeed($event)" (pauseApp)="pauseStory($event)"></dial-animation>
  <!-- Canvas for the PIXI Application -->
  <asset-loader [loader]="loader" (loadingComplete)="allAssetsLoaded($event)"></asset-loader>
  <environment
          [app]="app"
          [sharedTicker]="ticker"
          [assets]="globalAssets"
          [speed]="globalSpeed"
          (envReady)="envReady()"
          (currentDate)="setGlobalDate($event)"
  ></environment>
  <canvas #pixiBackground id="pixiBackground"></canvas>
</div>
