@keyframes show-intro {
  0% {
    opacity: 0;
  }

  30%, 80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

:host {

  .main-logo-animation {

    .intro-text {
      position: absolute;
      top: 10%;
      -webkit-animation: show-intro 4s 1 forwards ease-in; /* Safari 4+ */
      -moz-animation:    show-intro 4s 1 forwards ease-in; /* Fx 5+ */
      -o-animation:      show-intro 4s 1 forwards ease-in; /* Opera 12+ */
      animation:         show-intro 4s 1 forwards ease-in; /* IE 10+, Fx 29+ */
    }

  }

}


